In [15]:
import pandas as pd
import numpy as np

employee_id=['001','002','003','004','005','006','007','008','009','010']
employee_name=['Mary','John','Bob','Mel','Jen','Sue','Ken','Dave','Beth','Ray']
employee_payrate=[15.00,22.0,35.00,43.00,17.00,29.00,40.00,20.00,37.00,16.50]
hrs=[40,25,4,62,33,45,36,17,37,80]
employee_data=list(zip(employee_id,employee_name,employee_payrate,hrs ))

df_employee=pd.DataFrame(data=employee_Data, columns=['employee_id','employee_name','employee_payrate', 'hrs'])
print(df_employee)

  employee_id employee_name  employee_payrate  hrs
0         001          Mary              15.0   40
1         002          John              22.0   25
2         003           Bob              35.0    4
3         004           Mel              43.0   62
4         005           Jen              17.0   33
5         006           Sue              29.0   45
6         007           Ken              40.0   36
7         008          Dave              20.0   17
8         009          Beth              37.0   37
9         010           Ray              16.5   80

In [21]:
for i in range (0,10):
        if hrs[i]>40:
            ot=hrs[i]-40
            otpay=ot*1.5*employee_payrate[i]
            salery=40*employee_payrate[i]+otpay
        elif hrs[i]<40:
             salery=hrs[i]*employee_payrate[i] 
print(employee_id[i],employee_name[i],salery)

010 Ray 1650.0

In [24]:
for i in range (0,9):
        if hrs[i]>40:
            ot=hrs[i]-40
            otpay=ot*1.5*employee_payrate[i]
            salery=40*employee_payrate[i]+otpay
        elif hrs[i]<40:
             salery=hrs[i]*employee_payrate[i] 
print(employee_id[i],employee_name[i],salery)

009 Beth 1369.0

In [28]:
for i in range (0,8):
        if hrs[i]>40:
            ot=hrs[i]-40
            otpay=ot*1.5*employee_payrate[i]
            salery=40*employee_payrate[i]+otpay
        elif hrs[i]<40:
             salery=hrs[i]*employee_payrate[i] 
print(employee_id[i],employee_name[i],salery)

008 Dave 340.0

In [30]:
for i in range (0,7):
        if hrs[i]>40:
            ot=hrs[i]-40
            otpay=ot*1.5*employee_payrate[i]
            salery=40*employee_payrate[i]+otpay
        elif hrs[i]<40:
             salery=hrs[i]*employee_payrate[i] 
print(employee_id[i],employee_name[i],salery)

007 Ken 1440.0

In [31]:
for i in range (0,6):
        if hrs[i]>40:
            ot=hrs[i]-40
            otpay=ot*1.5*employee_payrate[i]
            salery=40*employee_payrate[i]+otpay
        elif hrs[i]<40:
             salery=hrs[i]*employee_payrate[i] 
print(employee_id[i],employee_name[i],salery)

006 Sue 1377.5

In [32]:
for i in range (0,5):
        if hrs[i]>40:
            ot=hrs[i]-40
            otpay=ot*1.5*employee_payrate[i]
            salery=40*employee_payrate[i]+otpay
        elif hrs[i]<40:
             salery=hrs[i]*employee_payrate[i] 
print(employee_id[i],employee_name[i],salery)

005 Jen 561.0

In [34]:
for i in range (0,4):
        if hrs[i]>40:
            ot=hrs[i]-40
            otpay=ot*1.5*employee_payrate[i]
            salery=40*employee_payrate[i]+otpay
        elif hrs[i]<40:
             salery=hrs[i]*employee_payrate[i] 
print(employee_id[i],employee_name[i],salery)

004 Mel 3139.0

In [35]:
for i in range (0,3):
        if hrs[i]>40:
            ot=hrs[i]-40
            otpay=ot*1.5*employee_payrate[i]
            salery=40*employee_payrate[i]+otpay
        elif hrs[i]<40:
             salery=hrs[i]*employee_payrate[i] 
print(employee_id[i],employee_name[i],salery)

003 Bob 140.0

In [36]:
for i in range (0,2):
        if hrs[i]>40:
            ot=hrs[i]-40
            otpay=ot*1.5*employee_payrate[i]
            salery=40*employee_payrate[i]+otpay
        elif hrs[i]<40:
             salery=hrs[i]*employee_payrate[i] 
print(employee_id[i],employee_name[i],salery)

002 John 550.0

In [37]:
for i in range (0,1):
        if hrs[i]>40:
            ot=hrs[i]-40
            otpay=ot*1.5*employee_payrate[i]
            salery=40*employee_payrate[i]+otpay
        elif hrs[i]<40:
             salery=hrs[i]*employee_payrate[i] 
print(employee_id[i],employee_name[i],salery)

001 Mary 550.0