# Employee Pay : OT calculation

In [ ]:

# employee pay 
employee_id = ['001','002','003','004', '006','007','008','009','010']
employee = ['mary','john','bob','mel','jen','sue','ken','dave','beth','ray']

employee_id = employee
employee_id == employee
#the following will show the employee, the hours worked and how much they make 
employee_payrate = [15,22,35,43,17,29,40,20,37,16.5]
hrs = [40,25,4,62,33,45,36,17,37,80]
value = hrs(input())
if value in hrs < 40:
    othr = 0

elif hrs > 40:

    othr = (hrs - 40) * employee_payrate * 1.5 
    print(Othr)
else :

    othr = False


if hrs <= 40:

    grossPay = employee_payrate * hrs 
    print("regular")


elif hours > 40 :

    grossPay = othr + employee_payrate * hrs


else :

    print ("Please type a number.")