# Module 6 Exercises - Correlation and Models

### Exercise 1:

From the datasets folder, load the "tamiami.csv" file as a dataframe. Rename the columns (in order) to the following:

- location
- sales
- employees
- restaurants
- foodcarts
- price

Then do a correlation table on that dataframe. What features (columns) are correlated? What features aren't correlated?

In [1]:
import pandas as pd
import numpy as np

In [2]:
Location = "datasets/tamiami.csv"
df = pd.read_csv(Location)

df.head()

,Cart Location,Hot Dog Sales,Employees in Nearby Office Buildings,Num of Nearby Restaurants,Num of Other Food Carts Nearby,Price
0,1,100,1600,8,12,4.16
1,2,80,1200,6,13,4.63
2,3,450,2800,19,6,0.50
3,4,580,4300,19,2,0.47
4,5,100,1400,6,13,4.24

In [6]:
#rename the pound/hashtag(#) column so it doesn't cause further issues
df.rename(columns={'Cart Location' :'location','Hot Dog Sales' :'sales','Employees in Nearby Office Buildings' :'employees','Num of Nearby Restaurants' :'restaurants','Num of Other Food Carts Nearby' :'foodcarts','Price' :'price'}, inplace =True)
df.head()

   location  sales  employees  restaurants  foodcarts  price
0         1    100       1600            8         12   4.16
1         2     80       1200            6         13   4.63
2         3    450       2800           19          6   0.50
3         4    580       4300           19          2   0.47
4         5    100       1400            6         13   4.24

In [7]:
df.corr()

             location     sales  employees  restaurants  foodcarts     price
location     1.000000  0.042705  -0.068923     0.049701   0.077219 -0.138444
sales        0.042705  1.000000   0.943238     0.913674  -0.919762 -0.966378
employees   -0.068923  0.943238   1.000000     0.856976  -0.874692 -0.881540
restaurants  0.049701  0.913674   0.856976     1.000000  -0.761793 -0.933951
foodcarts    0.077219 -0.919762  -0.874692    -0.761793   1.000000  0.860154
price       -0.138444 -0.966378  -0.881540    -0.933951   0.860154  1.000000

In [ ]:
the closer it is to one it is correlated the further it is from one it is not correlated

### Exercise 2:

Using the dataframe from the previous exercise, choose features (columns) to create a linear regression formula to predict sales. Try it with and without the y-intercept. How does it make a difference? Does adding or removing features in your model formula make a difference in the output?

In [11]:
import statsmodels.formula.api as smf

In [12]:
result = smf.ols('sales ~ employees + restaurants + price', data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.971
Model:                            OLS   Adj. R-squared:                  0.968
Method:                 Least Squares   F-statistic:                     294.1
Date:                Wed, 21 Aug 2019   Prob (F-statistic):           3.58e-20
Time:                        11:08:28   Log-Likelihood:                -143.89
No. Observations:                  30   AIC:                             295.8
Df Residuals:                      26   BIC:                             301.4
Df Model:                           3
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept     266.0173     70.397      3.779      0.001     121.315     410.720
employees       0.0839      0.015      5.759      0.000       0.054       0.114
restaurants    -0.7542      3.282     -0.230      0.820      -7.501       5.993
price         -67.7235     11.251     -6.020      0.000     -90.850     -44.598
==============================================================================
Omnibus:                        0.068   Durbin-Watson:                   2.493
Prob(Omnibus):                  0.966   Jarque-Bera (JB):                0.286
Skew:                          -0.004   Prob(JB):                        0.867
Kurtosis:                       2.522   Cond. No.                     2.73e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.73e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [13]:

result = smf.ols('sales ~ employees + restaurants + price -1', data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.986
Model:                            OLS   Adj. R-squared:                  0.985
Method:                 Least Squares   F-statistic:                     651.5
Date:                Wed, 21 Aug 2019   Prob (F-statistic):           2.76e-25
Time:                        11:15:03   Log-Likelihood:                -150.46
No. Observations:                  30   AIC:                             306.9
Df Residuals:                      27   BIC:                             311.1
Df Model:                           3
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
employees       0.1108      0.016      7.124      0.000       0.079       0.143
restaurants     8.4960      2.671      3.181      0.004       3.016      13.976
price         -26.2058      2.958     -8.860      0.000     -32.275     -20.137
==============================================================================
Omnibus:                        1.065   Durbin-Watson:                   1.973
Prob(Omnibus):                  0.587   Jarque-Bera (JB):                0.976
Skew:                           0.250   Prob(JB):                        0.614
Kurtosis:                       2.271   Cond. No.                         931.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""